<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- jquery, bootstrap, summernote -->
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="//hackerwins.github.io/summernote/summernote.css" rel="stylesheet">
    <script src="//hackerwins.github.io/summernote/summernote.min.js"></script>

    <!-- socket.io, client-side(changesets) -->
    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/client-side.js"></script>

    <!-- ot-summernote -->
    <script type="text/javascript" src="/javascripts/ot-summernote.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var ot = otsummernote.create({
          url: 'http://localhost:3000',
          listener: function(code) {
            $('#editor').code(code);
          }
        });
        // editor summernote
        $('#editor').summernote({
          height: 170, focus: true,
          onkeyup: function(e) {
            ot.operation($(this).code());
          }
        });
      });
    </script>
  </head>
  <body>
  <div class="container">
    <h1 class="text-center"><%=title%></h1>
    <div class="editor" id="editorCont">
      <div class="row">
        <div class="col-xs-12">
          <div id="editor"></div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
